@charset "UTF-8";
.header-banner {
  background-image: url("../pic/banner.jpg");
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* ✅ 開啟視差效果 */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 48px 16px;
}

@media (max-width: 768px) {
  .header-banner {
    background-image: url("../pic/banner-m.jpg");
    height: 30vh;
    background-position: 10% 48%;
    background-attachment: scroll;
  }
}